@media (min-width: 515px) {
    .hero {
        width: 100%;
        height: auto;
    }
    .hero img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #A77800;
        border-right: 1px solid #A77800;
        border-left: 1px solid #A77800;
        box-shadow: 1px 1px 10px 1px #A77800;
        position: relative;
        z-index: -1;
    }
    .hero h2 {
        text-align: center;
        color: #F7D200;
        font-weight: bold;
        font-size: 10em;
        margin-top: -37%;
        background-color: #181613;
        padding-top: 1rem;
        padding-bottom: 5rem;
        opacity: 85%;
        width: 100%;
        height: auto;
    }
    @media (max-width: 900px) { 
        .hero h2 {
            font-size: 4em;
        }
        #one p, #two p{
            font-size: 0.5em;
        }
    }
    .hero p {
        text-align: center;
        color: #F7D200;
        text-shadow: 3px 3px #181613;
        font-weight: bold;
        margin-top: -6%;
        font-size: 2em;
        opacity: 85%;
        width: 100%;
        height: auto;
    }
    .quote {
        margin-top: 30%;
        font-size: 2.5em;
        text-align: center;
        background-color: #F7D200;
        border: 1px solid #A77800;
        box-shadow: 1px 1px 8px 1px #A77800;  
        border-radius: 2rem;
        width: 60%;
        margin-left: 20%;
        padding: 1rem;
    }
    .carousel {
        height: auto;
        width: 80%;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .mySlides {
        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        margin-top: 10%;
    }
    .mySlides img {
        border: 1px solid #A77800;
        box-shadow: 1px 1px 8px 1px #A77800;  
        border-radius: 2rem;
        width: 100%;
        height: auto;
    }
    .text {
        font-size: 2em;
        padding: 1rem 0rem 1rem 0rem;
        text-align: center;
        position: absolute;
        color: #F7D200;
        background-color: #181613;
        opacity: 90%;
        bottom: 5px;
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        height: auto;
    }
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
      
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    .click, .press{
        font-size: 1.5em;
        text-align: center;
        background-color: #F7D200;
        border: 1px solid #A77800;
        box-shadow: 1px 1px 8px 1px #A77800;  
        border-radius: 2rem;
        width: 30%;
        padding: 1rem;
        margin: 0 auto;
    }
    .click a, .press a {
        color: #181613;
        text-decoration: none;
    }
    .click a:hover, .press a:hover {
        zoom: 1;
        transition: 0.3s ease-in-out;
        text-decoration: overline;
    }
    .press {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .click {
        margin-top: 70%;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: center;        
        padding-top: 4rem;
        margin: 0 auto;
        margin-top: 2%;
    }
    .art {
        display: flex;
    }
    picture {
        display: flex;
        justify-content: center;
    }
    picture img {
        width: 70%;
        border: 1px solid #A77800;
        box-shadow: 1px 1px 8px 1px #A77800;  
        border-radius: 1rem;
    }
    #one, #two {
        font-size: 1em;
        text-align: center;
        color: #181613;
        background-color: #F7D200;
        border: 1px solid #A77800;
        box-shadow: 1px 1px 8px 1px #A77800;  
        border-radius: 2rem;
        height: auto;
        width: 100%;
        padding: 1.5rem;
    }
    #two {
        position: absolute;
        max-width: 30%;
        height: auto;
        margin-left: -55%;
    }
    #one {
        position: absolute;
        max-width: 30%;
        height: auto;
        margin-right: -55%;
    }
    #second {
        margin-top: 3rem;
    }
}